{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Connexion {% endblock %}

{# Fil d'Ariane #}
{% set active = 'connexion' %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}
    <!-- .row>.col-xs-6.col-xs-push-3 -->
    <div class="container">

        <div class="row">
            <div class="col-xs-6 col-xs-push-3">
                <h2 class="text-center">Connexion</h2 >

                {% if error == true %}
                    <div class="alert alert-danger">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{ error | replace({"Bad credentials." : " Identifiants et/ou mot de passe incorrect."}) }}
                    </div>
                {% endif %}

                {% if global.request.get('inscription') == 'success' %}
                    <div class="alert alert-success">
                        <p><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        Félicitation, votre inscription est effective.
                            <br>Vous pouvez maintenant vous connecter.</p>
                    </div>
                {% endif %}

                <form action="{{ url('weebelule_connexion') }}" class="form-horizontal" method="post">

                    <!-- Email et Mot de Passe -->
                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form_row(form.EMAILUSER) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form_row(form.MDPUSER) }}
                        </div>
                    </div>
                      {{ form_row(form._token) }}
                      {{ form_row(form.submit) }}

                </form>
            </div>
        </div>
      </div>
{% endblock %}
